<ion-view view-title="Favoris" hide-back-button="true">
  <ion-content>

      <ul class="collection">
        <li class="collection-item avatar" ng-repeat="favorite in favorites">
          <i class="material-icons circle green">location_on</i>
          <span class="title">{{favorite.name}}</span>
          <p>{{favorite.address}}<br>
          </p>
          <a href="#/user/{{userId}}/interest-detail/{{favorite.place_id}}">
            <i class="ion-information-circled"></i>
            Plus d'info</a>
          <a href="" class="secondary-content" ng-click="showConfirm($event, favorite.id, $index)"><i class="material-icons">delete</i></a>
        </li>
        <li class="collection-item" ng-if="!favorites.length">
          <span class="title">Aucune adresse</span>
        </li>
      </ul>


  </ion-content>

  <div class="bar bar-footer" style="background-image: none !important; padding: 0px; margin-bottom: 5px;">
    <ion-tabs class="tabs-icon-top" style="width: 100%">

      <ion-tab title="Map" href="#/map/{{userId}}" icon-on="ion-map" icon-off="ion-map">
      </ion-tab>

      <ion-tab title="Timeline" href="#/news-feed/{{userId}}" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline">
      </ion-tab>

      <ion-tab title="Favoris" href="#/favorites/{{userId}}"  icon-on="ion-ios-star" icon-off="ion-ios-star-outline">
      </ion-tab>

      <ion-tab title="Mon Compte" href="#/account/{{userId}}"  icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
        <!-- Tab 3 content -->
      </ion-tab>

    </ion-tabs>
  </div>
</ion-view>
