
<ion-view >
  <ion-content>
    <div>
      <center><img src="../img/logo.png" width="150" ></center>
    </div>
    <div class="padding">
    <form>

      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" data-ng-model="user.loginCtrl">
          <label for="email">Email</label>
      </div>
      </div>

    <div class="row">
       <div class="input-field col s12">
         <input id="password" type="password" class="validate" data-ng-model="user.password">
         <label for="password">Password</label>
     </div>
     </div>
   </form>
 </div>
 <div class="button-signin">
 <center><a class="waves-effect waves-light btn" ng-click="connect(user.login, user.password)" >Connexion</a></center>
</div>
 <center><a href="#/signup">Créer un compte</a></center>

  </ion-content>
</ion-view>
