<ion-view view-title="Map" hide-back-button="true">
  <ion-content>
    <div  ng-controller="MapCtrl as vm">
      <ng-map  style="display:block; height:550px" center="{{latLng}}" zoom="17">
        <marker position="{{latLng}}" title="how" animation="Animation.BOUNCE"></marker>
        <marker id='{{interest.id}}' position="{{interest.geometry.location.lat}}, {{interest.geometry.location.lng}}"
                ng-repeat="interest in interests"
                on-click="vm.showDetail(interest)">
        </marker>

        <info-window id="foo-iw">
          <div ng-non-bindable="">
            {{vm.interest.name}}
            <a href=""
               ng-click="addFavorites(vm.interest.name, vm.interest.vicinity, vm.interest.geometry.location.lat, vm.interest.geometry.location.lng)">
              Ajouter au favoris</a>
            <a href=""
               ng-click="directions(vm.interest.geometry.location.lat, vm.interest.geometry.location.lng)">
              Directions</a>
          </div>
        </info-window>

        <div ng-if="itineraire">
          <directions
            draggable="false"
            travel-mode="WALKING"
            origin="current-location"
            destination="{{direction}}">
          </directions>
        </div>
      </ng-map>

      <button
        class="button"
        ng-click="notif()">
        Instant
      </button>
    </div>
  </ion-content>

  <div class="bar bar-footer" style="background-image: none !important; padding: 0px; margin-bottom: 5px;">
    <ion-tabs class="tabs-icon-top" style="width: 100%">

      <ion-tab title="Map" href="#/map/{{userId}}" icon-on="ion-map" icon-off="ion-map">
      </ion-tab>

      <ion-tab title="Favoris" href="#/favorites/{{userId}}"  icon-on="ion-ios-star" icon-off="ion-ios-star-outline">
      </ion-tab>

      <ion-tab title="Mon Compte" href="#/account/{{userId}}"  icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
        <!-- Tab 3 content -->
      </ion-tab>

    </ion-tabs>
  </div>

</ion-view>

