<ion-view view-title="Fil d'actualité" hide-back-button="true">
  <ion-content>

    <div ng-if="android" class = "tabs tabs-icon-top">
      <a class = "tab-item" href="#/map/{{userId}}">
        <i class = "icon ion-map"></i>
        Map
      </a>

      <a class = "tab-item" href="#/news-feed/{{userId}}">
        <i class = "icon ion-ios-paper"></i>
        Timeline
      </a>

      <a class = "tab-item" href="#/favorites/{{userId}}">
        <i class = "icon ion-ios-star"></i>
        Favoris
      </a>

      <a class = "tab-item" href="#/account/{{userId}}">
        <i class = "icon ion-ios-person"></i>
        Mon Compte
      </a>

    </div>

    <div class="row " ng-repeat="news in newsFeeds">
      <div class="col s12 m6">
        <div class="card grey lighten-3 flow-text">
          <div class="card-content">
            <span class="card-title">{{ news.user.login }}</span>
            <p>{{ news.content }}</p>
          </div>
          <div class="card-action">
            <a href="#">{{ news.date_post |  date:"EEE d MMM 'at' h:mm" }}</a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="material-icons" ng-click="showPrompt($event)">add</i>
    </a>
  </div>
  <div ng-if="!android" class="bar bar-footer" style="background-image: none !important; padding: 0px; margin-bottom: 5px;">
    <ion-tabs class="tabs-icon-top" style="width: 100%">

      <ion-tab title="Map" href="#/map/{{userId}}" icon-on="ion-map" icon-off="ion-map">
      </ion-tab>

      <ion-tab title="Timeline" href="#/news-feed/{{userId}}" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline">
      </ion-tab>

      <ion-tab title="Favoris" href="#/favorites/{{userId}}"  icon-on="ion-ios-star" icon-off="ion-ios-star-outline">
      </ion-tab>

      <ion-tab title="Mon Compte" href="#/account/{{userId}}"  icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
        <!-- Tab 3 content -->
      </ion-tab>

    </ion-tabs>
  </div>
</ion-view>
