<ion-view view-title="Inscription">
  <ion-content>
    <center><img src="../img/logo.png" width="150" ></center>
    <div class="padding">
    <form>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" data-ng-model="email" required>
          <label for="email">Email</label>
      </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
           <input id="login" type="text" class="validate" data-ng-model="login" required>
           <label for="login">Login</label>
       </div>
       </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" data-ng-model="password" required>
        <label for="password">Password</label>
      </div>
    </div>
      <div class="input-field col s12">
        <select multiple data-ng-model="data.multipleSelect" required>
          <option value="" disabled selected>Choose your option</option>
          <option  ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
        </select>
        <label>Materialize Select</label>
      </div>
   </form>
 </div>
  <center><a class="waves-effect waves-light btn" ng-click="signup(login, email, password, data.multipleSelect)"> Suivant </a></center>
  </ion-content>
</ion-view>
